{% extends "header.html" %}
{% load staticfiles %}
    {% block body_block%}
  <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <main class="mdl-layout__content">   
   <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div>    
      <h2 class="mdl-cell mdl-cell--6-col" style="text-align: center; margin-right: -20px;
 ">Confirm</h2>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>


 <div class="mdl-grid ">
 	<div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col" style="padding: 1% 0% 2% 13%;
">
    <i class="fa fa-arrow-circle-o-down" style="font-size:48px;"></i>
</div>  
      <div class="mdl-cell mdl-cell--2-col" style="margin-left: 2%;">  
      
      <h4 style="text-align: center; 
    ">Sending</h4>
      <h5 class="" style="text-align: center; 
} ">0.008736 BTC</h5> 
      <h5 class="" style="text-align: center; color:#c7cace;
   ">98.20 USD</h5>     
      </div> 
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>


<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>




  <div class="mdl-grid "  style="  height: 0;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
     <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right:-20px;
 ">To</h5>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>




    <div class="mdl-grid "  style="height: 6em;" >

    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div> 
    
       
        <div class="mdl-cell  mdl-cell--5-col" style=" border: 1px solid !important;
    margin: 1% 2% 1% 14%;
">
       <div class="mdl-cell  mdl-cell--1-col" style="float: left;    padding: 0% 3% 0% 3%;">
       <i class="fa fa-bitcoin" style="font-size:36px; margin: 0% 6% 0% 0%;

color:#ecb62e;"></i>
</div>
<div class="mdl-cell  mdl-cell--8-col"  style="float: left;
    padding: 1% 0% 0% 6%;"> 
 <input class="mdl-textfield__input" style="border:none;	" type="text" id="sample3" placeholder="Search or Enter the Bitcoin address">     
<!-- <label class="mdl-textfield__label" for="sample1">Search or Enter the Bitcoin address</label>    -->    
    
       </div>
    <div class="mdl-cell mdl-cell--1-col" style="background-color: #ffffff;float: right;">
     
       </div> 

</div>
    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="padding: 0% 13% 0% 2%;">
 <img class="mdl-cell" src="{% static '/images/qrcode.png' %}"/ style="
 width: 56px;
"></div> 
</div>


<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>




  <div class="mdl-grid "   style="  height: 14px;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right: -20px;
 ">From</h5>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>



    <div class="mdl-grid " style="height: 3em; padding-left: 2%;">

    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield" style="    padding: 34.5px 0% 0% 1%;
">
     <i class="material-icons" style="font-size:35px;color:#ecb62e;float: right !important;    margin-top: -25px !important;">account_balance_wallet</i>  
       </div> 
        <div class="mdl-cell  mdl-cell--5-col mdl-textfield mdl-js-textfield">
       
     <label style="font-size: 120%">Personal Wallet</label>
        
       </div>
    <div class="mdl-cell mdl-cell--2-col" style="background-color: #ffffff;">
      <!-- <img class="mdl-cell" src="{% static '/images/right-arrow.png' %}"/ style="    width: 42px;
"> -->
       </div> 
 </div>



<div class="mdl-grid " style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>



  <div class="mdl-grid "   style="height: 27px;
    padding: 1% 1% 1% 1%;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="padding-left: 21.5%;"></div>  
       <a style="color:unset !important; text-decoration: none !important;" href="/confirm_popup/">   <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right: -20px; 
 ">Memo</h5>    </a>  
        <a style="color:unset !important; text-decoration: none !important;" href="/confirm_popup/">   <div class="mdl-cell mdl-cell--3-col"></div></a>
  
      <a style="color:unset !important; text-decoration: none !important;    padding-left: 43%;
" href="/confirm_popup/">    <div class="mdl-cell mdl-cell--1-col" style="padding: 0% 0% 0% 5.5%;
"> <i class="material-icons" style="color: #c7cace;">keyboard_arrow_right</i></div> </a>
 <div class="mdl-layout-spacer "></div>      
    </div>



<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>




 <div class="mdl-grid " style="height: 5em;">
      <div class="mdl-cell mdl-cell--2-col"></div> 
      <div class="mdl-cell mdl-cell--1-col"  style=" margin: -1% 0% 0% 4.5%;
">
      	 <h5 class="" style="text-align: center; 
  ">Fee:</h5> 
      </div>   
      <div class="mdl-cell mdl-cell--3-col" style="padding: 0% 3% 0% 0%;
">  
      <h4 class="m" style="text-align: center;     margin: 0.5%;
    padding: 0% 24% 4% 8%;">Normal</h4>
      <h5 class="" style="text-align: center;  margin: 0.5%;
} ">0.00396 BTC</h5> 
      <h5 class="" style="text-align: center;  color:#c7cace;  padding-right: 7%;
  margin: 0%;
    ">98.20 USD</h5>     
      </div>   
     <div class="mdl-cell mdl-cell--2-col"></div>
  
     <div class="mdl-cell mdl-cell--1-col"> <i class="material-icons" style="color: #c7cace;">keyboard_arrow_right</i></div> 
 <div class="mdl-layout-spacer "></div>      
    </div>



<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>



  <div class="mdl-grid "   style="height: 27px;
    padding: 1% 1% 1% 1%;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    margin-left: 3%;
}"></div>  
      <a style="color:unset !important;     width: 89%;text-decoration: none !important;" href="/confirm_sending/">  <h5 class="mdl-cell mdl-cell--4-col" style="padding-left: 4%;text-align: center; float:left;font-weight: bold;">Slide to Send</h5>      
 
  <i class="material-icons" style="padding-left: 35%;color: #c7cace;">arrow_forward</i> </a>
 <div class="mdl-layout-spacer "></div>      
    </div>


<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>



</main>
     {% endblock %}