{% extends "header.html" %}
{% load staticfiles %}
    {% block body_block%}

   <main class="mdl-layout__content">
      <div class="mdl-cell mdl-cell--12-col mdl-grid " style="background-color: #ecb62b !important;">
      <div class="mdl-layout-spacer "></div>      
       <h2 class="mdl-cell mdl-cell--6-col" style="text-align: center;">Send</h2>      
      <div class="mdl-layout-spacer"></div>
    </div>
     <div class="mdl-cell mdl-cell--12-col mdl-grid " style="background-color: #ecb62b !important;">
      <div class="mdl-layout-spacer "></div>      
       <h2 class="mdl-cell mdl-cell--6-col" style="text-align: center;">Send</h2>      
      <div class="mdl-layout-spacer"></div>
    </div>
      <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>      
      <h2 class="mdl-cell mdl-cell--6-col" style="text-align: center;">Send</h2>      
      <div class="mdl-layout-spacer"></div>
    </div>

    {% endblock %}
