{% extends "header.html" %}
{% load staticfiles %}
    {% block body_block%}
<style>
  .border_size{
    border : 2px solid;
  }
</style>
   <main class="mdl-layout__content">   
   <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div>    
      <h2 class="mdl-cell mdl-cell--6-col" style="text-align: center; margin-right: -20px;
 ">Enter Amount</h2>      
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      
    </div>

 <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>      
       <h4 class="mdl-cell mdl-cell--8-col">Receipient</h4>      
      <div class="mdl-layout-spacer"></div>
    </div>

    <div class="mdl-grid " style="margin: 0em 1em 0em 0em;">
 <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="border_size mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield">
    <img class="image" src="{% static '/images/wallet (1).png' %}" style="    padding: 0.5em 0em 0em 0em;
    margin-top: -25px !important;
    margin: 5em 0em -1em 0em;
    width: 13%;
"/>   
       
     <label style="font-weight: bold;" >Personal Wallet</label>
     
    
       </div>
    <div class="mdl-cell mdl-cell--2-col" style="background-color: #ffffff;">
             </div> 
 </div>





   <div class="mdl-grid ">
       <div class="mdl-cell mdl-cell--2-col"></div>   
        <h4 class="mdl-cell mdl-cell--1-col" style="text-align: center; margin-right: -20px;
 ">Amount</h4> 
       <div class="mdl-layout-spacer "></div>       
    </div>

    <div class="mdl-grid ">
       <div class="mdl-cell mdl-cell--2-col"></div>   
       <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield">
     <input class="mdl-textfield__input" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3">Enter Amount</label>
  		</div>       
       	
       		<div class="maindl-cell mdl-cell--2-col" style="margin: 3% 0% 10px 0%;">
       	 <label class="" style="font-size: 133%;"> USD=0.00 BTC</label></div> 
       	 <div class="mdl-cell mdl-cell--3-col"></div> 	
       </div>  


    <div class="mdl-grid ">
       <div class="mdl-cell mdl-cell--2-col"></div>   
       <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield">

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 150%;background-color: #F3EFEF;color: #000000; margin-left: -1%;
"><img class="" style="height: 90%;   width: 13%;" src="{% static '/images/dashboard.png' %}"/>
  Enter max amount
</button>    
  </div>       
       	<div class="mdl-cell mdl-cell--3-col"></div>
       			
       </div> 

 <div class="mdl-grid ">
       <div class="mdl-cell mdl-cell--2-col"></div>   
        <hr class="mdl-cell mdl-cell--8-col" style="text-align: center; margin-right: -20px;
 "></hr> 
       <div class="mdl-layout-spacer "></div>       
    </div>


    <div class="mdl-grid ">
    	<div class="mdl-layout-spacer "></div>
       <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield" style="margin-top: 4%;">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 150%;background-color: #000000;">
  Confirm
</button>
  </div> 
  <div class="mdl-layout-spacer "></div>  
</div>
 <div class="mdl-grid " style="height:2%;">
    </div>
      
	</main>
    {% endblock %}