body{

background-repeat: no-repeat;
}

.log_in{	
width:20%;
height:10%;
margin: 30% 60% 30% 30%;
color: black;
background-color: #ffffff;

}
.home_con{
width:20%;
height:20%;
 margin: -138px 144px 120px 721px;
 color: #fff;
/*margin: 30% 70% 30% 30%;*/
text-decoration-color: #ffffff;
color: #ffffff;
float: left;

}
.img{
width:100px;
height:100px;
margin: 288px -10px 77px 567px
}

.font-color{
	color: #fff !important;
    font-size: 15px !important;
    font-weight: bold !important; 
}
.font-head{
	font-weight: bolder !important;
}
