{% extends "header.html" %}
{% load staticfiles %}
    {% block body_block%}
  <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  .button1{
    width: 53%;
    background-color:#c7ceca;
   text-transform: none !important;
       margin-top: 1%;
  }
</style>
 <main class="mdl-layout__content">   
   <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div>    
      <h2 class="mdl-cell mdl-cell--6-col" style="text-align: center; margin-right: -20px;
 ">Receive Funds</h2>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>


 <div class="mdl-grid ">
 	<div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col" style="padding: 1% 0% 2% 13%;
">
    <i class="fa fa-arrow-circle-o-up" style="font-size:48px;"></i>

</div>  
      <div class="mdl-cell mdl-cell--2-col" style="margin-left: 2%;">  
      
      <h4 style="text-align: center; 
    ">Received</h4>
      <h5 class="" style="text-align: center; 
} ">0.008736 BTC</h5> 
      <h5 class="" style="text-align: center; color: #c7cace;
   ">98.20 USD</h5>     
      </div> 
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>




<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>




  <div class="mdl-grid "   style="  height: 1em;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right: -20px;
 ">From</h5>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>



    <div class="mdl-grid " style="height: 3em;">

    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield" style="    padding: 34.5px 0% 0% 1%;    margin-left: 2%;
">
     <i class="material-icons" style="font-size:35px;color:#ecb62e;float: right !important;    margin-top: -25px !important;">account_balance_wallet</i>  
       </div> 
        <div class="mdl-cell  mdl-cell--5-col mdl-textfield mdl-js-textfield">
       
     <label>Personal Wallet</label>
        
       </div>
    <div class="mdl-cell mdl-cell--2-col" style="background-color: #ffffff;">
      <!-- <img class="mdl-cell" src="{% static '/images/right-arrow.png' %}"/ style="    width: 42px;
"> -->
       </div> 
 </div>



<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>



<div class="mdl-grid "   style="height: 27px;
    padding: 1% 1% 1% 1%;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right: -20px; 
 ">Date</h5>      
      <div class="mdl-cell mdl-cell--3-col"></div>
  
     <div class="mdl-cell mdl-cell--1-col" style="padding: 0% 0% 0% 5%;color:#c7cace; 
"><label>01/29/18    8.00pm</label></div> 
 <div class="mdl-layout-spacer "></div>      
    </div>


<div class="mdl-grid " style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>



  <div class="mdl-grid "   style="height: 27px;
    padding: 1% 1% 1% 1%;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right: -20px; 
 ">Memo</h5>      
      <div class="mdl-cell mdl-cell--3-col"></div>
  
     <div class="mdl-cell mdl-cell--1-col" style="padding: 0% 0% 0% 5%;color:#c7cace; 

"> <i class="material-icons">keyboard_arrow_right</i></div> 
 <div class="mdl-layout-spacer "></div>      
    </div>



<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>

  <div class="mdl-grid "   style="height: 27px;
    padding: 1% 1% 1% 1%;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    margin-left: 3%;
}"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center;">Confirmations</h5>      
   <div class="mdl-cell mdl-cell--3-col"></div>
  
     <div class="mdl-cell mdl-cell--1-col" style="padding: 0% 0% 0% 1%;color:#c7cace; 
"> Unconfirmed</div> 
 <div class="mdl-layout-spacer "></div>      
    </div>


    <div class="mdl-grid "  style="  height: 1em;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>


<div class="mdl-grid "  style="height: 5em;">
      
      <div class="mdl-cell mdl-cell--2-col" ></div>   
      <div class="mdl-cell mdl-cell--8-col" style="     height: 8em;
    padding: 2.5% 0% 0% 21%;background-color: #E8E8E8;">   
      <a style="color:unset; text-decoration: none !important;" href="/received_popup/"> <button class="button1 mdl-button mdl-js-button mdl-button--raised" style="">
  View on Blockchain
    </button></a>
  </div>
    <div class="mdl-layout-spacer "></div>       
    </div>

 <div class="mdl-grid "  style="  height: 5em;">      
       <div class="mdl-cell mdl-cell--2-col"></div>        
      
    <div class="mdl-layout-spacer "></div>       
    </div>


</main>
     {% endblock %}