{% extends "header.html" %}
{% load staticfiles %}
    {% block body_block%}
<head>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
   <main class="mdl-layout__content">   
   <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div>    
      <h3 class="mdl-cell mdl-cell--6-col" style="text-align:center;  font-weight:bold; margin-right: 50px;
 ">Buy with a Credit card</h3>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>


      <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div>    
           <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>


      <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div> 
      <div class="mdl-cell mdl-cell--1-col"></div>   
      <div class="mdl-cell mdl-cell--2-col" style="text-align: center;margin: 0em -6em 0em 0em !important"><i class="fa fa-bitcoin"  style="
    width: 66px !important;background-color: #c7cace; font-size:50px;color:#ecb62e;
" /></i></div>   
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div> 
      <div class="mdl-layout-spacer "></div>  
      </div>


  <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div> 
      <div class="mdl-cell mdl-cell--4-col"> 
        <div class="mdl-cell mdl-cell--1-col"></div>
      <h4 class="mdl-cell mdl-cell--10-col" style="text-align: center; font-weight:bold;margin: 4em 0em 3em 1em;">Buy bitcoin with credit card using Simplex</h4> 
<div class="mdl-cell mdl-cell--1-col"> </div>
</div>        
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>

  <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div>    
      <h4 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin:-1em 0em 0em 0em;
 ">Click on the link below to go to Buy.Bitcoin.com</h4>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>


     <div class="mdl-cell mdl-cell--12-col mdl-grid " style="">
      <div class="mdl-layout-spacer"></div>
       <button class="mdl-button mdl-js-button mdl-button--raised" style="width: 24%;
    background-color: #ecb62e;" disabled>
  Buy Bitcoin
</button>
        
      <div class="mdl-layout-spacer"></div>
        
    </div>

    
    </main>

    {% endblock %}
