{% extends "header.html" %}
{% load staticfiles %}
    {% block body_block%}
  <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
main{
  fon
}
  .button1{
      font-weight: bold;
    width: 55%;
    background-color:#A9A9A9;
   text-transform: none !important;
           height: 50px;
  
  }
</style>
 <main class="mdl-layout__content">   
   <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div>    
      <h2 class="mdl-cell mdl-cell--6-col" style="text-align: center;
 ">Sent  Funds</h2>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>



 <div class="mdl-grid "  style=" height: 10em;">
  <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--1-col" style="padding: 1% 0% 2% 13%;
">
     <i class="material-icons" style="font-size:45px;color:#c7cace;">autorenew</i>
</div>  
      <div class="mdl-cell mdl-cell--2-col" style="">  
      
      <h4 style="text-align: center; 
    ">Sending</h4>
      <h5 class="" style="text-align: center; 
} ">0.008736 BTC</h5> 
      <h5 class="" style="text-align: center; color:#c7cace;    margin: -4% 0% 0% -13%;

   ">98.20 USD</h5>     
      </div> 
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>



<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>




  <div class="mdl-grid "  style="  height: 0;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
     <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; ">To</h5>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>




    <div class="mdl-grid "  style="height: 5em;    padding-left: 8%;
    padding-top: 2%;
" >

    <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield"></div> 
           
        <div class="mdl-cell  mdl-cell--5-col" style="  padding-left: 2%;border: 1px solid !important;">
       <div class="mdl-cell  mdl-cell--1-col" style="float: left;    padding: 0% 3% 0% 0%;">
       <i class="fa fa-bitcoin" style="font-size:36px;color:#ecb62e;"></i>
</div>
<div class="mdl-cell  mdl-cell--10-col"  style="float: left;
    padding: 2% 0% 0% 4%;"> 
 <input class="mdl-textfield__input" style="border:none;  " type="text" id="sample3" placeholder="1ysyfhhrhlityjklghglkdfugdklkdfjgl">     
   
       </div>
  

</div>
    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="padding: 0% 13% 0% 2%;">
 </div> 
</div>


<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>




  <div class="mdl-grid "   style="  height: 0em;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right: -20px;
 ">From</h5>      
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>



    <div class="mdl-grid " style="height: 3em;">

    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield" style="    padding: 34.5px 0% 0% 1%;    margin-left: 2%;
">
     <i class="material-icons" style="font-size:35px;color:#ecb62e;float: right !important;    margin-top: -25px !important;">account_balance_wallet</i>  
       </div> 
        <div class="mdl-cell  mdl-cell--5-col mdl-textfield mdl-js-textfield">
       
     <label>Personal Wallet</label>
        
       </div>
    <div class="mdl-cell mdl-cell--2-col" style="background-color: #ffffff;">
      <!-- <img class="mdl-cell" src="{% static '/images/right-arrow.png' %}"/ style="    width: 42px;
"> -->
       </div> 
 </div>



<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>



<div class="mdl-grid "   style="height: 27px;
    padding: 1% 1% 1% 0.5%;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right: -20px; 
 ">Date</h5>      
      <div class="mdl-cell mdl-cell--3-col"></div>
  
     <div class="mdl-cell mdl-cell--2-col" style="padding: 0% 0% 0% 5.5%;color: #c7cace;
"><label>01/29/18 &nbsp8.00pm</label></div> 
 <div class="mdl-layout-spacer "></div>      
    </div>


<div class="mdl-grid " style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>



  <div class="mdl-grid "   style="height: 27px;
    padding: 1% 1% 1% 1%;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center; margin-right: -20px; 
 ">Memo</h5>      
      <div class="mdl-cell mdl-cell--3-col"></div>
  
     <div class="mdl-cell mdl-cell--1-col" style="padding: 0% 0% 0% 8%;
"> <i class="material-icons" style="color: #c7cace;">keyboard_arrow_right</i></div> 
 <div class="mdl-layout-spacer "></div>      
    </div>



<div class="mdl-grid "  style="  height: 1em;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>




 <div class="mdl-grid " style="    height: 7em;
    margin-top: -2%;
}">
      <div class="mdl-cell mdl-cell--2-col"></div> 
      <div class="mdl-cell mdl-cell--1-col"  style="    padding-left: 6%;
">
         <h5 class="" style="text-align: center; 
  ">Fee:</h5> 
      </div>   
      <div class="mdl-cell mdl-cell--7-col" style="height: 0em; width: 52%;
   padding: 1% 31% 0% 2%;
">  
      <h5 class="" style="font-weight: bold;">0.00396 BTC</h5> 
      <label class="" style="font-size: 17px; margin: 0%;
    ">4.33 USD-6.05% of the transaction</label>     
      </div>   
  
     <div class="mdl-cell mdl-cell--1-col" style="margin-top: 3%;margin-left: -5%;"> <i class="material-icons" style="color: #c7cace;">keyboard_arrow_right</i></div> 
     <div class="mdl-cell mdl-cell--1-col"> </div>
    </div>



<div class="mdl-grid "  style="  height: 0;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>



  <div class="mdl-grid "   style="height: 27px;
    padding: 1% 1% 1% 1%;">
   <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    margin-left: 3%;
}"></div>  
      <h5 class="mdl-cell mdl-cell--4-col" style="text-align: center;">Confirmations</h5>      
   <div class="mdl-cell mdl-cell--3-col"></div>
  
     <div class="mdl-cell mdl-cell--1-col" style=" padding-left: 1.2%;color: #c7cace;
"> Unconfirmed</div> 
 <div class="mdl-layout-spacer "></div>      
    </div>


    <div class="mdl-grid "  style="  height: 1em;">
      
       <div class="mdl-cell mdl-cell--2-col"></div>
      <hr class="mdl-cell mdl-cell--8-col"></hr>      
      
    <div class="mdl-layout-spacer "></div>       
    </div>


<div class="mdl-grid "  style="height: 5em;">
      
      <div class="mdl-cell mdl-cell--2-col" ></div>   
      <div class="mdl-cell mdl-cell--8-col" style="     height: 8em;
    padding: 2.5% 0% 0% 21%;background-color: #E8E8E8;">   
      <button class="button1 mdl-button mdl-js-button mdl-button--raised" style="">
  View on Blockchain
    </button></div>
    <div class="mdl-layout-spacer "></div>       
    </div>

 <div class="mdl-grid "  style="  height: 5em;">      
       <div class="mdl-cell mdl-cell--2-col"></div>        
      
    <div class="mdl-layout-spacer "></div>       
    </div>

</main>
     {% endblock %}