{% extends "header.html" %}
{% load staticfiles %}
    {% block body_block%}
  <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
   <main class="mdl-layout__content">   
   <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      <div class="mdl-cell mdl-cell--2-col"></div>    
      <h3 class="mdl-cell mdl-cell--6-col" style="text-align: center; margin-right: -20px;
 "><i class="fa fa-bitcoin" style="font-size:46px;color:#ecb62e;"></i>itlet&nbspWallet</h3>      
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--1-col"></div>      
    </div>


<div class="option mdl-cell mdl-cell--12-col" style="margin-left: 18%;">
      <div class="mdl-cell mdl-cell--2-col"></div>
<div class="option mdl-cell mdl-cell--8-col" style="border: 1px solid #c7cace;">
   <div class="mdl-grid ">      
      <div class="mdl-cell mdl-cell--6-col"></div>    
      <i class="material-icons" style="text-align: center; background-color: #ecb62e; margin-right: -20px; border: 1px solid black;font-size:46px;color:#ffffff;">done</i>     
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--1-col" style="margin-left: 21%;padding-left: 6%;">
        <i class="material-icons" style="font-size:25px; color: #c7cace;">close</i>
      </div>      
    </div>

 <div class="mdl-grid ">
      <div class="mdl-layout-spacer "></div>  
      
      
      <h4 class="mdl-cell mdl-cell--12-col" style="text-align: center;margin: 0em 0em 0em 1em;">Your Bitlet Wallet is Ready!!!</h4> 
       

    <div class="mdl-layout-spacer "></div>       
    </div>


     <div class="mdl-grid ">   
      <div class="mdl-cell mdl-cell--1-col"></div> 
     
        <div class="mdl-cell mdl-cell--8-col" style="    padding-left: 9em;
">
       <h4 class="mdl-cell mdl-cell--12-col" style="text-align: center;margin: 0em 0em em 1em;">On this screen you can see all yours wallets, Accounts and assets</h4> </div>
   
      <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-layout-spacer "></div>       
    </div>

  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>






<div class="mdl-cell mdl-cell--8-col" style="border: 1px solid #c7cace;       margin-top: 3em;
 margin-left: 18%;
">
 <div class="mdl-grid " style="height: 0.5em;   padding-top: 4%;
">
      <div class="mdl-layout-spacer "></div>
            <div class="mdl-cell mdl-cell--2-col "></div>      
       <h4 class="mdl-cell mdl-cell--8-col" style="font-weight: bold;">Recent Transaction</h4>      
      <div class="mdl-layout-spacer"></div>
    </div>

     <div class="mdl-grid " style="height: 0em;   padding-top: 4%;
">
      <div class="mdl-layout-spacer "></div>
            <div class="mdl-cell mdl-cell--2-col "></div>      
       <h5 class="mdl-cell mdl-cell--8-col" style="font-weight: bold;">Payment Received</h5>      
      <div class="mdl-layout-spacer"></div>
    </div>

 <div class="main_grid mdl-cell mdl-cell--12-col mdl-grid "  style="height: 5em; ">
       <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding-left: 12%;
"></div> 
      <div class="image mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding: 3% 0% 0% 5%;
">
   <i class="fa fa-circle" style="font-size:17px;color:#ecb62e;"></i>
       </div> 
        <a style="    color: unset;text-decoration: none !important;" href="/receive_funds/">  <div class="mdl-cell  mdl-cell--4-col mdl-textfield mdl-js-textfield" style="padding-top: 0%"> </a>      
     <a style="color: unset; text-decoration: none !important;" href="/receive_funds/">  <label><h4 style="padding-left: 4%;">Personal Wallet</h4></label>
     <label><h6 style="padding-left: 4%; margin: -3% 0% 0% 0%;
"></h6></label></a>
     </div>
      <div class="mdl-cell mdl-cell--3-col" style="background-color: #ffffff;    padding: 2% 0% 0% 4%;"><label>0.004567 BTC</label><br><label>a few seconds ago</label>

             <div class="mdl-layout-spacer "></div>      
    </div>
  </div>



  <div class="mdl-grid " style="height: 0em;  
">
      <div class="mdl-layout-spacer "></div>
            <div class="mdl-cell mdl-cell--2-col "></div>      
       <h5 class="mdl-cell mdl-cell--8-col" style="font-weight: bold;">Payment Send</h5>      
      <div class="mdl-layout-spacer"></div>
    </div>

 <div class="main_grid mdl-cell mdl-cell--12-col mdl-grid " style=" 
">
       <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding-left: 12%;
"></div> 
      <div class="image mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding: 3% 0% 0% 5%;">
        <i class="fa fa-circle" style="font-size:17px;color:#ecb62e;"></i>
       </div> 
       <a style="    color: unset;text-decoration: none !important;" href="/send_funds/">   <div class="mdl-cell  mdl-cell--4-col mdl-textfield mdl-js-textfield" style="padding-top: 0%">  </a>     
     <a style="    color: unset;text-decoration: none !important;" href="/send_funds/">  <label><h4 style="padding-left: 4%;">Personal Wallet</h4></label>
     <label><h6 style="padding-left: 4%; margin: -3% 0% 0% 0%;
"></h6></label></a>
     </div>
       <div class="mdl-cell mdl-cell--3-col" style="background-color: #ffffff;    padding: 2% 0% 0% 4%;"><label>0.004567 BTC</label><br><label>a few seconds ago</label>

             <div class="mdl-layout-spacer "></div>      
    </div>
             <div class="mdl-layout-spacer "></div>      
    </div>
  </div>


<div class="mdl-cell mdl-cell--8-col" style="height: 16em; margin-top: 3em;border: 1px solid #c7cace;margin-left: 18%;
">
 <div class="mdl-grid " style="height: 0em;">

 <div class="main_grid mdl-cell mdl-cell--12-col mdl-grid " style="height: 4em ;
">
       <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding-left: 12%;
"></div> 
      <div class="image mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding: 2% 0% 0% 1%;
">
  <i class="fa fa-bitcoin" style="font-size:44px;color:#ecb62e;"></i> 
       </div> 
     <div class="mdl-cell  mdl-cell--4-col mdl-textfield mdl-js-textfield" style="padding-top: 1.5%;     margin: 0em 0em 1em 0em;
">     
     <label><h4 style="padding-left: 6%;">Bitcoin core (BTC)</h4></label>
     <label><h6 style="padding-left: 4%; 
"></h6></label>
     </div>
      <div class="mdl-cell mdl-cell--2-col" style="background-color: #ffffff;    margin: 3em;
    margin-left: 8em;">        <i  class="image_arrow material-icons " style="font-size: 241%;color:#c7cace;">keyboard_arrow_right</i>
       </div> 
             <div class="mdl-layout-spacer "></div>      
    </div>




     <div class="main_grid mdl-cell mdl-cell--12-col mdl-grid " style="height: 0em;  
">
       <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding-left: 12%;
"></div> 
      <div class="image mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding: 3% 0% 0% 0%;
">
   <i class="material-icons" style="font-size:45px;color:#ecb62e;
">account_balance_wallet</i>
       </div> 
          <a style="    color: unset;text-decoration: none !important;" href="/receive/">     <div class="mdl-cell  mdl-cell--4-col mdl-textfield mdl-js-textfield" style="padding-top: 1.5%;     margin: -0em 0em 1em 0em;
">    </a>   
      <a style="    color: unset;text-decoration: none !important;" href="/receive/">      <label><h4 style="padding-left: 6%;">Personal Wallet</h4></label>
     <label><h6 style="padding-left: 4%; margin: -3% 0% 0% 0%;
"></h6></label></a>
     </div>
      <div class="mdl-cell mdl-cell--2-col" style="background-color: #ffffff;      
    margin-left: 6em; padding: 4% 0% 0% 3.5%;">        <i  class="image_arrow material-icons " style="font-size: 241%;color:#c7cace;">keyboard_arrow_right</i>
       </div> 
             <div class="mdl-layout-spacer "></div>      
    </div>
 </div>
  </div>


<div class="mdl-cell mdl-cell--8-col" style="height: 19em; margin-top: 3em;border: 1px solid #c7cace;margin-left: 18%;
">
  <div class="mdl-grid " style="height: 0em;  
">
      <div class="mdl-layout-spacer "></div>
            <div class="mdl-cell mdl-cell--2-col "></div>      
       <h4 class="mdl-cell mdl-cell--8-col" style="font-weight: bold;">Next Steps</h4>      
      <div class="mdl-layout-spacer"></div>
    </div>


     <div class="main_grid mdl-cell mdl-cell--12-col mdl-grid " style="height: 6em ;

">
       <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding-left: 12%;
"></div> 
      <div class="image mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding: 3% 0% 0% 2%;
">
   <i class="material-icons" style="font-size:45px;color:#ecb62e;
">account_balance_wallet</i>
       </div> 
       <a style="    color: unset;text-decoration: none !important;" href="/bitcoin_buy/">    <div class="mdl-cell  mdl-cell-7-col mdl-textfield mdl-js-textfield" style="padding-top: 1.5%;"></a>       
     <a style="    color: unset;text-decoration: none !important;" href="/bitcoin_buy/">   <label><h4 style="padding-left: 5%;">Buy Bitcoin</h4></label>
     <label><h6 style="padding-left: 4%; margin: -3% 0% 0% 0%;
"></h6></label></a>
     </div>
      <div class="mdl-cell mdl-cell--2-col" style="background-color: #ffffff;    padding: 4% 0% 0% 10%;">        <i  class="image_arrow material-icons " style="font-size: 241%;color:#c7cace;">keyboard_arrow_right</i>
       </div> 
             <div class="mdl-layout-spacer "></div>      
    </div>


     <div class="main_grid mdl-cell mdl-cell--12-col mdl-grid " style="">
       <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield"></div>  
    <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding-left: 12%;
"></div> 
      <div class="image mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield" style="    padding: 3% 0% 0% 2%;
">
   <i class="material-icons" style="font-size:45px;color:#ecb62e;
">account_balance_wallet</i>
       </div> 
         <a style="    color: unset;text-decoration: none !important;" href="/credit_card/">  <div class="mdl-cell  mdl-cell--4-col mdl-textfield mdl-js-textfield" style="padding-top: 1.5%;">   </a>    
      <a style="    color: unset;text-decoration: none !important;" href="/credit_card/">  <label><h4 style="padding-left: 5%;">Bitcoin Price Chart</h4></label>
     <label><h6 style="padding-left: 4%; margin: -3% 0% 0% 0%;
"></h6></label></a>
     </div>
      <div class="mdl-cell mdl-cell--2-col" style="background-color: #ffffff;    padding: 4% 0% 0% 10%;">        <i  class="image_arrow material-icons " style="font-size: 241%;color:#c7cace;">keyboard_arrow_right</i>
       </div> 
             <div class="mdl-layout-spacer "></div>      
    </div>
</div>


  </main>
    {% endblock %}